@use "./colors";
@use "./reset";

html {
	font-size: 62.5%;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 1.5rem;
	background-color: colors.$off-white;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}

.shadow-site {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0);
    opacity: 0.5;
    z-index: -1;
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;

	&__logo {
		margin: 2em 1em;
		justify-content: left;
	}

	&__btn {
		border: 1px solid transparent;
		background: none;
		padding: 1em;
        z-index: 100;

		&--hidden {
			display: none;
		}
	}

	&__items {
		position: absolute;
		top: 0;
		right: -290px;
        padding-top: 5em;
		display: flex;
		flex-direction: column;
		width: 70%;
		height: 100vh;
		background-color: colors.$off-white;
        z-index: 11;
        transition: right .3s;

		&--active {
			right: 0;
		}
	}

	&__item {
		text-decoration: none;
		color: colors.$dark;
		font-size: 2.4rem;
        padding: 0.8em 1em 2em 0.8em;
	}
}





@media (min-width: 576px) {

    .nav {
		&__btn {
			display: none;
		}
        &__item {
            // padding: 0;
            font-size: 1.6rem;
        }
		&__items {
            background-color: #666;
            right: unset;
            position: unset;
            height: unset;
            width: unset;
			flex-direction: row;
            padding: 0;
            margin: 2em 1em;
		}
	}
}
